body {
  background-color: black;
  color: white;
}
.movie-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Ensure the container fills its parent */
  padding: 20px; /* Add padding for spacing */
}

.movie-container::-webkit-scrollbar {
  width: 0; /* Hide scrollbar */
}

.movie-container > div {
  flex: 0 0 auto; /* Prevent flex items from growing */
  margin-right: 10px; /* Add margin between movie items */
}

.image-container {
  position: relative;
  transition: transform 0.2s; /* Enable absolute positioning */
}

.image-container:hover { 
  cursor: pointer;

  transform: scale(1.1); /* Scale up on hover */
}

 .image-container:hover .overlay {
  opacity: 1; 
}


 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transition:  0.5s ease;
  padding: 20px;
  text-align: center;
  bottom: 0;
  font-size: 10px;
  
} 

.moviecard{
  padding: 10px;

}